.btn {
  margin-bottom: 10px;
  margin-right: 5px;
  background-color: rgba(254,179,2,1);
  border-color: rgba(254,179,2,1);
}


iframe {
  margin: auto;
  width: 800px;
  height: 600px;
}

input {
  margin-bottom: 10px; }

.header {
  padding-top: 30px;
}

.profile-img {
  border-radius: 150px;
  align-content: left;
}

.thumbnail {
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.icon {
  height: 20px;
  margin: 5px;
}

.content {
  padding: 10px;
  margin: 0px auto;

}
.navbar {
	padding-top: 30px;
	background-color: rgba(0,0,0,0.8);
}

.landing {
  background-image: url('/images/o-FRIENDSHIP-facebook.jpg');
  background-size: cover;
  height: auto;
  margin: 0px auto;
}


.navbar:hover {
	color: rgba(254,179,2,1);
}

#logo {
  height: 100px;
}

#landing-logo {
  width: 700px;
  margin: 0px auto;
}

#about {
  text-align: justify;
  width: 600px;
}
tbody {
	vertical-align: middle;
}

tr {
	vertical-align: middle;
	align-content: middle;
}

h1, h3, p {
	font-family: 'Quicksand', sans-serif;
}