.btn {
  margin-bottom: 10px; }

input {
  margin-bottom: 10px; }

.header {
  margin-top: 150px;
  padding-top: 30px; }

.navbar {
	padding-top: 30px;
	background-color: #FFF;
}

#logo {
  height: 80px; }

.content {
	background-color: rgba(254,179,2,0.7)
;
}