.btn {
  margin-bottom: 10px;
  margin-right: 5px;
  background-color: #feb302;
  border-color: #feb302; }

iframe {
  margin: auto;
  width: 800px;
  height: 600px; }

input {
  margin-bottom: 10px; }

.header {
  padding-top: 30px; }

.profile-img {
  border-radius: 150px;
  align-content: left; }

.thumbnail {
  object-fit: cover;
  width: 100px;
  height: 100px; }

.icon {
  height: 20px;
  margin: 5px; }

.content {
  padding: 10px; }

.navbar {
  padding-top: 30px;
  background-color: rgba(0, 0, 0, 0.8); }

.landing {
  background-image: url("/images/o-FRIENDSHIP-facebook.jpg"); }

.navbar:hover {
  color: #feb302; }

#logo {
  height: 100px; }

#landing-logo {
  width: 600px;
  margin-left: auto;
  margin-right: auto; }

#about {
  text-align: justify;
  width: 600px; }

tbody {
  vertical-align: middle; }

tr {
  vertical-align: middle;
  align-content: middle; }

h1 {
  font-family: 'Quicksand', sans-serif; }
