/*animations*/

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

#main {
  width: 100vw;
  height: 100vh;
}

#right-nav{
  margin-right: 25px
}

#profile-img{
  border-radius: 100%;
  object-fit: cover;
  width: 260px;
  height: 260px;
}

.btn {
  margin-bottom: 10px;
  margin-right: 5px;
  background-color: rgba(254,179,2,1);
  border-color: rgba(254,179,2,1);
}


#loginfromlanding {
  margin-top: 10%;
  size: 0px;
}

.overdue {
  color: red;
}

input {
  margin-bottom: 10px; }

.header {
  padding-top: 30px;
}

.profile-img {
  border-radius: 150px;
  align-content: left;
}

.thumbnail {
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.icon {
  height: 20px;
  margin: 5px;
}

.content {
  padding: 10px;
  margin: 0px auto;

}
.navbar {
	padding-top: 30px;
	background-color: rgba(0,0,0,0.8);
  color: #FFF;
}

.landing {
  background-image: url('/images/o-FRIENDSHIP-facebook.jpg');
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  height: 100%;
}

#logo {
  height: 100px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.frontpage {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto; }

.overdue {
  color: red;
}

#landing-logo {
    width: 80%;
    margin: 0 auto;
    animation: bounceIn 4s;
}

#about {
  text-align: justify;
  width: 80%;
  font-size: 40px;
  color: #000;
  margin: 0 auto;
}
tbody {
	vertical-align: middle;
}

tr {
	vertical-align: middle;
	align-content: middle;
}

h1, h3, p {
	font-family: 'Quicksand', sans-serif;
}